<link rel="stylesheet" href="delete.css" />
<link rel="stylesheet" href="../../../Shared/components/global.css" />
<div id="modalDelete" class="modal">
  <div class="modal-content delete-box">
    <h2>¿Eliminar usuario?</h2>
    <p>Esta acción no se puede deshacer</p>
    <div class="modal-actions">
      <button
        id="save"
        class="save"
        style="padding: 8px; border: none; border-radius: 8px"
      >
        Cancelar
      </button>
      <button
        id="delete"
        class="delete"
        style="padding: 8px; border: none; border-radius: 8px"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>

<script src="delete-user.js"></script>
