<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/modules/Shared/components/global.css">
    <link rel="stylesheet" href="/src/modules/Customers/components/customer-edit-modal/customer-edit.css">
    <title>Edit Customer</title>
</head>
<body>
    <div id="modalEdit" class="modal">
        <div class="modal-content">
            <h2>Editar Cliente</h2>

            <input type="text" id="editNombre"    placeholder="Nombre">
            <input type="text" id="editApellido"  placeholder="Apellido">
            <input type="text" id="editTelefono"  placeholder="Teléfono (Ej: 8888-8888)">
            <input type="text" id="editCedula"    placeholder="Cédula (Ej: 001-000000-0000A)">
            <input type="text" id="editDireccion" placeholder="Dirección">
            <input type="text" id="editCiudad"    placeholder="Ciudad">

            <div class="modal-actions">
                <button class="btn cancel closeModal">Cancelar</button>
                <button class="btn save">Actualizar</button>
            </div>
        </div>
    </div>
</body>
</html>