<link rel="stylesheet" href="/src/modules/Pedidos/components/pedidos.css" />

<div id="modal" class="modal">
  <div id="modal-content" class="modal-content">
    <span id="close-modal">&times;</span>
    <div id="modal-body"></div>
  </div>
</div>

<div class="header">
  <h1>Gestión de Pedidos</h1>
  <p>Consulta y Administra los pedidos realizados</p>
</div>

<div class="card">
  <div class="top-bar">
    <div class="search-box">
      <input type="text" placeholder="Buscar Pedido..." />
      <img src="/src/modules/Shared/Assets/img/lupa.png" class="search-icon" />
    </div>
    <div class="actions">
      <select><option>Todos los Estados</option></select>
      <select><option>Todos los Pedidos</option></select>
      <button class="btn-new" id="btn-nuevo-pedido">+ Nuevo Pedido</button>
    </div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr><th>Cliente</th><th>Fecha</th><th>Total</th><th>Estado</th><th>Acciones</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Rosa Aguirre</td><td>29/04/26 04:30 p.m.</td><td>C$ 4600</td>
          <td><span class="Pendiente">Pendiente</span></td>
          <td><div class="action-cells"><button class="view"><img src="/src/modules/Shared/Assets/img/view.png" /> Ver detalle</button></div></td>
        </tr>
        <tr>
          <td>Belen Garcia</td><td>28/04/26 02:30 p.m.</td><td>C$ 1200</td>
          <td><span class="Proceso">En Proceso</span></td>
          <td><div class="action-cells"><button class="view"><img src="/src/modules/Shared/Assets/img/view.png" /> Ver detalle</button></div></td>
        </tr>
        <tr>
          <td>Juan Lopez</td><td>25/04/26 10:30 a.m.</td><td>C$ 900</td>
          <td><span class="Entregado">Entregado</span></td>
          <td><div class="action-cells"><button class="view"><img src="/src/modules/Shared/Assets/img/view.png" /> Ver detalle</button></div></td>
        </tr>
        <tr>
          <td>Maria Garcia</td><td>27/04/26 11:30 a.m.</td><td>C$ 1000</td>
          <td><span class="Entregado">Entregado</span></td>
          <td><div class="action-cells"><button class="view"><img src="/src/modules/Shared/Assets/img/view.png" /> Ver detalle</button></div></td>
        </tr>
        <tr>
          <td>Carlos Garay</td><td>23/04/26 08:30 a.m.</td><td>C$ 800</td>
          <td><span class="Entregado">Entregado</span></td>
          <td><div class="action-cells"><button class="view"><img src="/src/modules/Shared/Assets/img/view.png" /> Ver detalle</button></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-footer">
    <span>Mostrando Pedidos 1/9</span>
    <div class="pagination">
      <button>&lt;</button><button class="active">1</button>
      <button>2</button><button>3</button><button>4</button><button>5</button>
      <button>...</button><button>&gt;</button>
    </div>
  </div>
</div>

<script type="module" src="/src/modules/Pedidos/Service/pedidos.js"></script>