* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #eff9ff;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  background: #bbe6fc;
  padding: 20px;
}
.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #032f44;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar li img {
  width: 20px;
}

.sidebar li:hover,
.sidebar .active {
  background: #63c6f8;
  color: white;
}

/* MAIN */
.main {
  margin-left: 220px;
  width: calc(100% - 220px);
  flex: 1;
  padding: 20px;
}

/* USER */
.top-user {
  display: flex;
  justify-content: flex-end;
}

.user-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 12px;
  border-radius: 50px;
}

.user-card img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* HEADER */
.header h1 {
  margin-top: 15px;
}

.header p {
  color: #777;
  margin-bottom: 20px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.top-bar input,
.actions select {
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #e1e5ea;
  background: #f9fbfd;
  outline: none;
}
.top-bar input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-new {
  background: #0bb2f4;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-new:hover {
  background: #0992c8;
  transform: scale(1.05);
}

.btn-new:active {
  transform: scale(0.95);
  filter: saturate(1.5);
}

/* TABLA */
table {
  width: 100%;
  border-collapse: separate; /* CLAVE */
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

thead {
  background: #f4f7fb;
}

th {
  font-size: 13px;
  color: #555;
  font-weight: 600;
}

tbody tr:hover {
  background: #f9fbfd;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

tbody tr {
  border-top: 1px solid #eee;
}

th:last-child,
td:last-child {
  text-align: center;
}

.view {
  background: #32a8e7;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
}

.view:hover {
  background: #0aadff;
  transform: scale(1.05);
}

.view:active {
  transform: scale(0.95);
}

/* ACCIONES (IMPORTANTE) */
.action-cells {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* ICONOS EN BOTONES */
button img {
  width: 12px;
  height: 14px;
}

/* BOTÓN ELIMINAR */
.delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.delete:hover {
  transform: scale(1.05);
}
.delete:active {
  transform: scale(0.95);
  filter: saturate(1.5);
}

/* ESTADOS */
.status-pagado {
  background: #d4f8d4;
  color: #1b5e20;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status-pendiente {
  background: #fff3cd;
  color: #856404;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* FOOTER */
.table-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination button {
  margin: 2px;
  padding: 6px 12px;
  border: 1px solid #e1e5ea;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.pagination button:hover:not(.active) {
  background: #f1f5f9;
  border-color: #cbd5e1;
  transform: translateY(-1px);
}

.pagination button:active {
  transform: scale(0.95);
}

.pagination .active {
  background: #0bb2f4;
  color: white;
  border-color: #0bb2f4;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    visibility 0.25s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 16px;
  height: auto;
  width: 500px;
  max-width: 90%;
}

#close-modal {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
