<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="Categoria.css">
    <link rel="stylesheet" href="/src/modules/Shared/Components/global.css">
</head>
<body>

  <body>

  <!-- 1. Checkbox de control (oculto) -->
  <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle">
  
  <!-- 2. Botón hamburguesa (label conectado) -->
  <label for="sidebar-toggle" class="hamburger-btn"><span></span></label>
  
  <!-- 3. Overlay para cerrar -->
  <label for="sidebar-toggle" class="sidebar-overlay"></label>


<div class="container">

    <!-- SIDEBAR GLOBAL -->
    <div id="sidebar-container"></div>

    <!-- MAIN -->
    <main class="main">
      
        <div id="topbar-container"></div>

    

        <!-- HEADER -->
        <div class="header">
            <h1>Gestión de Categorías</h1>
            <p>Consulta y administra las categorías disponibles.</p>

             
              <div class="total-categorias">
           <img src="/src/modules/Shared/Assets/img/categoria.png" alt="icono">
           <span>Total de categorías</span>
          <strong>6</strong>
              </div>


                   <!-- BARRA SUPERIOR -->
         <div class="top-bar">
             <div class="actions">
               <a href="#modalAdd" class="btn-new">
            <span class="icon">+</span>
            Nueva categoria
              </a>
              </div>
         </div>

        </div>

        <!-- CONTENEDOR DE CARDS -->
        <div class="cards-container">

            <!-- CARD -->
            <div class="card">
                 <div class="actions">
                <a href="#modalEdit" class="edit">
                    <img src="src/modules/Shared/Assets/img/editar.png">
                  </a>
                   <a href="#modalDelete" class="delete">
                   <img src="/src/modules/Shared/Assets/img/eliminar.png">
                 </a>
             </div>


                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/postre.png">
                </div>

                <h2>Postres</h2>
                <p>Postres de la mejor calidad</p>

                <span class="count">30 productos</span>
            </div>

            <!-- CARD -->
            <div class="card">
                <div class="actions">
                <a href="#modalEdit" class="edit">
                    <img src="/src/modules/Shared/Assets/img/editar.png">
                  </a>
                   <a href="#modalDelete" class="delete">
                   <img src="/src/modules/Shared/Assets/img/eliminar.png">
                 </a>
             </div>


                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/pastel.png">
                </div>

                <h2>Pasteles</h2>
                <p>Pasteles de diferentes sabores y tamaños</p>

                <span class="count">15 productos</span>
            </div>

             <!-- CARD -->
            <div class="card">
               <div class="actions">
                <a href="#modalEdit" class="edit">
                    <img src="/src/modules/Shared/Assets/img/editar.png">
                  </a>
                   <a href="#modalDelete" class="delete">
                   <img src="/src/modules/Shared/Assets/img/eliminar.png">
                 </a>
             </div>


                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/galleta.png   ">
                </div>

                <h2>Galletas</h2>
                <p>Galletas de todo tipo</p>

                <span class="count">60 productos</span>
            </div>

             <!-- CARD -->
            <div class="card">
                   <div class="actions">
                <a href="#modalEdit" class="edit">
                    <img src="/src/modules/Shared/Assets/img/editar.png">
                  </a>
                   <a href="#modalDelete" class="delete">
                   <img src="/src/modules/Shared/Assets/img/eliminar.png">
                 </a>
             </div>

                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/cupcake.png">
                </div>

                <h2>Cupcakes</h2>
                <p>Cupcakes para disfrutar en todo momento</p>

                <span class="count">20 productos</span>
            </div>

                <!-- CARD -->
            <div class="card">
              <div class="actions">
                <a href="#modalEdit" class="edit">
                  <img src="/src/modules/Shared/Assets/img/editar.png">
                </a>
                <a href="#modalDelete" class="delete">
                 <img src="/src/modules/Shared/Assets/img/eliminar.png">
                </a>
               </div>

                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/bebida.png">
                </div>

                <h2>Bebidas</h2>
                <p>Bebidas refrescantes</p>

                <span class="count">35 productos</span>
            </div>

                <!-- CARD -->
            <div class="card">
              <div class="actions">
                <a href="#modalEdit" class="edit">
                     <img src="/src/modules/Shared/Assets/img/editar.png">
                      </a>
                   <a href="#modalDelete" class="delete">
                      <img src="/src/modules/Shared/Assets/img/eliminar.png">
                   </a>
</div>

                <div class="card-icon">
                    <img src="/src/modules/Shared/Assets/img/bocadillo.png">
                </div>

                <h2>Bocadillos</h2>
                <p>Bocadillos para sustentar tu dia</p>

                <span class="count">35 productos</span>
            </div>



        </div>

    </main>

</div>

<!-- MODAL AGREGAR -->
<div id="modalAdd" class="modal">
  <div class="modal-content">
    <h2>Nueva Categoría</h2>

    <input type="text" placeholder="Nombre de categoría">
    <textarea placeholder="Descripción"></textarea>

    <div class="modal-actions">
      <a href="#" class="btn cancel">Cancelar</a>
      <button class="btn save">Guardar</button>
    </div>
  </div>
</div>

<!-- MODAL EDITAR -->
<div id="modalEdit" class="modal">
  <div class="modal-content">
    <h2>Editar Categoría</h2>

    <input type="text" value="Pasteles">
    <textarea>Pasteles de diferentes sabores y tamaños</textarea>

    <div class="modal-actions">
      <a href="#" class="btn cancel">Cancelar</a>
      <button class="btn save">Actualizar</button>
    </div>
  </div>
</div>

<!-- MODAL ELIMINAR -->
<div id="modalDelete" class="modal">
  <div class="modal-content delete-box">
    <h2>¿Eliminar categoría?</h2>
    <p>Esta acción no se puede deshacer</p>

    <div class="modal-actions">
      <a href="#" class="btn cancel">Cancelar</a>
      <button class="btn delete">Eliminar</button>
    </div>
  </div>
</div>

<!-- JS -->
<script src="/src/modules/Shared/components/components.js"></script>

</body>
</html>