<aside class="sidebar">
  <h2>Pastelería Soto</h2>

  <ul>
    <li>
      <img src="/src/modules/Shared/Assets/img/crecimiento.png" />
      <a href="/src/modules/Dashboard/components/dashboard.html">Dashboard</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/caja.png" />
      <a href="/src/modules/Producto/components/Producto.html">Productos</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/personalizacion.png" />
      <a href="/src/modules/Personalizado/components/Personalizado.html"
        >Personalizado</a
      >
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/categoria.png" />
      <a href="/src/modules/Categories/components/Categoria.html">Categorias</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/avatar.png" />
      <a href="/src/modules/Customers/components/Clientes.html">Clientes</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/mollete.png" />
      <a href="/src/modules/Opciones/components/Opciones.html">Opciones</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/nueva-cuenta.png" />
      <a href="/src/modules/Usuario/components/Usuario.html">Usuarios</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/pastel.png" />
      <a href="/src/modules/Pedidos/components/Pedidos.html">Pedidos</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/bolsa-de-la-compra.png" />
      <a href="/src/modules/Compras/components/Compras.html">Compras</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/carro.png" />
      <a href="/src/modules/Ventas/components/Ventas.html">Ventas</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/engranaje.png" />
      <a href="/src/modules/Configuracion/components/Configuracion.html"
        >Configuracion</a
      >
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/cerrar-sesion.png" />
      <a href="/index.html">Cerrar Sesión</a>
    </li>
  </ul>
</aside>
