<aside class="sidebar">
  <h2>Pastelería Soto</h2>

  <ul>
    <li>
      <img src="/src/modules/Shared/Assets/img/crecimiento.png" />
      <a href="#/dashboard">Dashboard</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/caja.png" />
      <a href="#/productos">Productos</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/personalizacion.png" />
      <a href="#/personalizado">Personalizado</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/categoria.png" />
      <a href="#/categorias">Categorias</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/avatar.png" />
      <a href="#/clientes">Clientes</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/mollete.png" />
      <a href="#/opciones">Opciones</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/nueva-cuenta.png" />
      <a href="#/usuarios">Usuarios</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/pastel.png" />
      <a href="#/pedidos">Pedidos</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/bolsa-de-la-compra.png" />
      <a href="#/compras">Compras</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/carro.png" />
      <a href="#/ventas">Ventas</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/engranaje.png" />
      <a href="#/configuracion">Configuracion</a>
    </li>

    <li>
      <img src="/src/modules/Shared/Assets/img/cerrar-sesion.png" />
      <a href="#/login">Cerrar Sesión</a>
    </li>
  </ul>
</aside>