<link rel="stylesheet" href="/src/modules/Usuario/components/Usuario.css" />
<link rel="stylesheet" href="../../Shared/components/global.css" />

<div class="header">
  <h1>Gestión de Usuarios</h1>
  <p>Administra la información de los usuarios.</p>
</div>

<div class="card">
  <div class="top-bar">
    <div class="search-box">
      <input type="text" placeholder="Buscar Usuario..." />
    </div>
    <div class="actions">
      <select>
        <option>Todos los Usuarios</option>
        <option value="true">Activos</option>
        <option value="false">Inactivos</option>
      </select>
    </div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </div>
  <div class="table-footer">
    <span>Mostrando Usuarios 1/1</span>
    <div class="pagination">
      <button>&lt;</button><button class="active">1</button
      ><button>&gt;</button>
    </div>
  </div>
</div>

<script type="module" src="/src/modules/Usuario/components/Usuario.js"></script>
<div id="modal-container"></div>
