<aside class="sidebar">
    <h2>Pastelería Soto</h2>

    <ul>

        <li>
            <img src="/Assets/img/crecimiento.png">
            <a href="/Login/Dashboard/dashboard.html">Dashboard</a>
        </li>

        <li>
            <img src="/Assets/img/caja.png">
            <a href="/Producto/Producto.html">Productos</a>
        </li>

        <li>
            <img src="/Assets/img/personalizacion.png">
            <a href="/Personalizado/Personalizado.html">Personalizado</a>
        </li>

        <li>
            <img src="/Assets/img/categoria.png">
            <a href="/CategoriaFeature/Categoria.html">Categorias</a>
        </li>

        <li>
            <img src="/Assets/img/avatar.png">
            <a href="/ClientesFeature/Clientes.html">Clientes</a>
        </li>

        <li>
            <img src="/Assets/img/mollete.png">
            <a href="/Opciones/Opciones.html">Opciones</a>
        </li>

        <li>
            <img src="/Assets/img/nueva-cuenta.png">
            <a href="/Usuario/Usuario.html">Usuarios</a>
        </li>

        <li>
            <img src="/Assets/img/pastel.png">
            <a href="/Pedidos/Pedidos.html">Pedidos</a>
        </li>

        <li>
            <img src="/Assets/img/bolsa-de-la-compra.png">
            <a href="/VentaFeature/Compras.html">Compras</a>
        </li>

        <li>
            <img src="/Assets/img/carro.png">
            <a href="/Compras/Ventas.html">Ventas</a>
        </li>

        <li>
            <img src="/Assets/img/engranaje.png">
            <a href="/Configuracion/Configuracion.html">Configuracion</a>
        </li>

        <li>
            <img src="/Assets/img/cerrar-sesion.png">
            <a href="#">Cerrar Sesión</a>
        </li>

    </ul>
</aside>