<link rel="stylesheet" href="/src/modules/Compras/components/estilos.css">
<link rel="stylesheet" href="/src/modules/Shared/components/global.css">

<div class="header">
  <h1>Gestión de Compras</h1>
  <p>Consulta y administra las compras realizadas.</p>
</div>

<div class="card">

  <div class="actions">
    <input id="BuscarProv" class="buscar" type="text" placeholder="Buscar por Proveedor">
    <button id="btn-new" class="btn-new">+ Nueva Compra</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>ver Detalles</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="table-footer">
    <span>Mostrando 0 a 0 de 0 compras</span>
    <div class="pagination">
      <button>&lt;</button>
      <button>&gt;</button>
    </div>
  </div>

</div>

<div id="modal-container"></div>

<script type="module" src="/src/modules/Compras/services/compras.js"></script>