<link rel="stylesheet" href="/src/modules/Dashboard/components/dashboard.css" />

<header class="header">
  <h1>¡Bienvenido de vuelta!</h1>
  <p>Aquí tienes un resumen de las ventas de tu pastelería.</p>
</header>

<section class="powerbi-wrapper">
  <iframe
    title="DashboardSoto"
    class="powerbi-iframe"
    src="https://app.powerbi.com/view?r=eyJrIjoiNDkyMmE1NzEtNTU3Mi00MmRjLTgxOTQtYzdhZjA1NzcyZjMyIiwidCI6ImU0NzY0NmZlLWRhMjctNDUxOC04NDM2LTVmOGIxNThiYTEyNyIsImMiOjR9"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
</section>