<div id="modalDetalleOpcion" class="modal">
  <div class="modal-content">
    <span id="close-detalle-opcion">✕</span>
    <h2>Detalle de Opción</h2>

    <div class="view-info-group">
      <div class="view-info-item">
        <span class="view-label">Nombre</span>
        <span id="detalle-opcion-nombre" class="view-value"></span>
      </div>
      <div class="view-info-item">
        <span class="view-label">Descripción</span>
        <span id="detalle-opcion-descripcion" class="view-value"></span>
      </div>
      <div class="view-info-item">
        <span class="view-label">Medida</span>
        <span id="detalle-opcion-medida" class="view-value"></span>
      </div>
      <div class="view-info-item">
        <span class="view-label">Precio</span>
        <span id="detalle-opcion-precio" class="view-value"></span>
      </div>
    </div>

    <div class="modal-actions">
      <button type="button" class="btn cancel" id="btn-cerrar-detalle-opcion">Cerrar</button>
    </div>
  </div>
</div>