<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/modules/Shared/components/global.css">
    <link rel="stylesheet" href="/src/modules/Customers/components/customer-add-modal/customer-add.css">
    <title>Modal-add</title>
</head>
<body>
    <div id="modalAdd" class="modal">
        <div class="modal-content">
            <h2>Nuevo Cliente</h2>

            <input type="text" id="addNombre"    placeholder="Nombre">
            <input type="text" id="addApellido"  placeholder="Apellido">
            <input type="text" id="addTelefono"  placeholder="Teléfono (Ej: 8888-8888)">
            <input type="text" id="addCedula"    placeholder="Cédula (Ej: 001-000000-0000A)">
            <input type="text" id="addDireccion" placeholder="Dirección">
            <input type="text" id="addCiudad"    placeholder="Ciudad">

            <div class="modal-actions">
                <button class="btn cancel closeModal">Cancelar</button>
                <button class="btn save">Guardar</button>
            </div>
        </div>
    </div>
</body>
</html>