<link rel="stylesheet" href="/src/modules/Configuracion/components/Configuracion.css" />

<section class="grid-secundario">
  <div class="card">
    <span><img src="/src/modules/Shared/Assets/img/engranaje.png" class="icon-card" alt="" /> Datos del sistema</span>
    <div class="item"><span>Nombre</span><input type="text" value="Admin Soto" /></div>
    <div class="item"><span>Administrador</span><input type="text" value="Sasha Ramirez" /></div>
    <div class="item"><span>Correo</span><input type="email" value="admin@soto.com" /></div>
    <div class="item"><span>Idioma</span><input type="text" value="Español" /></div>
    <button class="btn-save">Guardar cambios</button>
  </div>

  <div class="card">
    <span><img src="/src/modules/Shared/Assets/img/candado.png" class="icon-card" alt="" /> Seguridad</span>
    <div class="item"><span>Contraseña actual</span><input type="password" /></div>
    <div class="item"><span>Nueva contraseña</span><input type="password" /></div>
    <div class="item"><span>Confirmar</span><input type="password" /></div>
    <button class="btn-save">Actualizar</button>
  </div>

  <div class="card">
    <span><img src="/src/modules/Shared/Assets/img/paleta-de-color.png" class="icon-card" alt="" /> Apariencia</span>
    <div class="item">
      <span>Modo oscuro</span>
      <button class="btn-save" onclick="document.body.classList.toggle('dark-mode')">
        <img src="/src/modules/Shared/Assets/img/luna.png" class="icon-card" alt="" /> Modo Oscuro
      </button>
    </div>
    <div class="item"><span>Tamaño letra</span><input type="text" value="Mediano" /></div>
  </div>

  <div class="card">
    <span><img src="/src/modules/Shared/Assets/img/inmune.png" class="icon-card" alt="" /> Sistema</span>
    <div class="item"><span>Notificaciones</span><input type="text" value="Activadas" /></div>
    <div class="item"><span>Estado</span><input type="text" value="Activo" /></div>
  </div>
</section>